# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
venvc/
ENV/

# WandB
wandb/
*.wandb

# Models and data
*.pt
*.pth
*.h5
*.pkl
*.model
models/
!models/.gitkeep

# Data files
*.csv
*.tsv
*.parquet
*.h5ad
*.loom
data/
!data/.gitkeep

# Logs
logs/
*.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
